<connectionStrings>
  <add name="AppEntities" connectionString="metadata=res://*/AppEntities.csdl|res://*/AppEntities.ssdl|res://*/AppEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=app.mobendo.com;initial catalog=Voodle;user id=voodle;password=Peroideusumu321$;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
</connectionStrings>